/* reset เบา ๆ */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* แถบเมนู */
.navbar {
  background-color: #222;
  padding: 0;
}

/* เมนูหลัก */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
  padding: 15px 25px;
  color: white;
  cursor: pointer;
}

/* เมนูย่อย (ซ่อนก่อน) */
.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  display: none;
  min-width: 160px;
}

/* รายการใน dropdown */
.dropdown li {
  padding: 12px 15px;
  color: white;
}

.dropdown li:hover {
  background-color: #666;
}

/* แสดง dropdown เมื่อ hover */
.menu-item:hover .dropdown {
  display: block;
}
