html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 2vw;
}

.left {
  background-color: #FFCCCC;
}

.right {
  background-color: #99FFFF;
}
